name: Simple Dotnet Build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
    
jobs:
  build:
    uses: Demotemp01/pipeline-templates/.github/workflows/simple-dotnet-build.yml@main
    with:
      dotnet-version: 7.0.x    
  
  deploy-dev:
    needs: build
    uses: Demotemp01/pipeline-templates/.github/workflows/dotnet-deploy-bicep-webapp.yml@main
    secrets: inherit
    with:
      environment: dev
      rgname: ${{ vars.RGNAMEDEV }}
      cliente: ${{ vars.CLIENTE }}
      randonname: ${{ vars.RANDOMNAME }} 
      biceppath: ./bicep/webapp.bicep
      appname: poc
   
  deploy-hml:
    needs: deploy-dev
    uses: Demotemp01/pipeline-templates/.github/workflows/dotnet-deploy-bicep-webapp.yml@main
    secrets: inherit
    with:
      environment: hml
      rgname: ${{ vars.RGNAMEHML }}
      cliente: ${{ vars.CLIENTE }}
      randonname: ${{ vars.RANDOMNAME }} 
      biceppath: ./bicep/webapp.bicep
      appname: poc

  deploy-prd:
    needs: deploy-prd
    uses: Demotemp01/pipeline-templates/.github/workflows/dotnet-deploy-bicep-webapp.yml@main
    secrets: inherit
    with:
      environment: prd
      rgname: ${{ vars.RGNAMEPRD }}
      cliente: ${{ vars.CLIENTE }}
      randonname: ${{ vars.RANDOMNAME }} 
      biceppath: ./bicep/webapp.bicep
      appname: poc